{erl_opts, [
    {parse_transform, lager_transform},
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    %warn_missing_spec,
    warn_untyped_record,
    debug_info]}.

{require_otp_vsn, "18"}.

{deps, [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.3"}}},
    {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}},
    {erlydtl, {git, "git://github.com/erlydtl/erlydtl.git", {branch, stable}}},
    {lager, {git, "git://github.com/basho/lager.git", {branch, master}}},
    {epgsql, {git, "git://github.com/epgsql/epgsql.git", {tag, "3.1.1"}}},
    {dh_date, {git, "git://github.com/daleharvey/dh_date.git", {branch, master}}},
    {quickrand, {git, "git://github.com/okeuday/quickrand.git", {tag, "v1.5.1"}}},
    {gen_smtp, {git, "git://github.com/Vagabond/gen_smtp.git", {branch, master}}}
]}.